<div class="center hero-unit">
<h2>微信自媒体平台</h2>

<%= link_to "用户注册!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
