<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "微信自媒体平台", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "首页", index_path %></li>
          <li><%= link_to "帮助", help_path %></li>
          <li><%= link_to "注册", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>